{% extends 'base.html' %}
{% load static %}

{% block title %}
Про бібліотеку
{% endblock %}

{% block content %}

<section class="about">

    <h1 class="about__title">Про бібліотеку</h1>

    <img class="about__img" src="{% static 'app/images/biblioteka-25092020.jpg' %}" alt="Бібліотека">

    <h2 class="about__subtitle">Історія бібліотеки</h2>

    <p class="about__text">
        Наша бібліотека була заснована у 1985 році.
        Вона стала важливим місцем для навчання,
        читання та розвитку мешканців міста.
    </p>

    <p class="about__text">
        Сьогодні бібліотека має великий вибір книг,
        сучасні комп'ютери та комфортні зали для читачів.
    </p>

    <h2 class="about__subtitle">Список послуг</h2>

    <ul class="about__list">
        <li class="about__list-item">Читальна зала</li>
        <li class="about__list-item">Електронні книги</li>
        <li class="about__list-item">Wi-Fi</li>
        <li class="about__list-item">Комп'ютерний зал</li>
    </ul>

</section>

{% endblock %}